
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Common_Manager_Layout.cshtml";
}

<div class="row" style="min-height:500px">
    <div class="col-sm-1"></div>
    <div class="col-sm-10  mt-5 mb-5" style="padding-top:25px;padding-bottom:25px; background:#ffffff89;border-radius:20px">
        <!--First Row-->
        <div class="row">
            <div class="col-sm-4">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Manager/ManageFeedback" class="fa-regular fa-comment myicons " style="color: #457bd9;font-size:100px; text-decoration: none" title="Feedback"> </a>
                        <br />
                        <span>Manage Feedback</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Manager/UploadTask" class="fa-solid fa-bars-progress" style="color:#457bd9;font-size:100px; text-decoration: none" title="Task"> </a>
                        <br />
                        <span>Upload Today Task</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Manager/MyProject" class="fa-solid fa-sheet-plastic" style="color:#457bd9;font-size:100px; text-decoration: none" title="My Projects"> </a>
                        <br />
                        <span>My Project</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
        <!--Second Row-->
        <div class="row" style="margin-top:30px;">

            <div class="col-sm-4">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Manager/ViewReport" class="fa-solid fa-laptop-file" style="color:#457bd9;font-size:100px; text-decoration: none" title="Work Report"> </a>
                        <br />
                        <span>View Work Report</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Manager/DownloadCode" class="fa-solid fa-file-arrow-down" style="color:#457bd9;font-size:100px; text-decoration: none" title="Download"> </a>
                        <br />
                        <span>Download Code</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Manager/NotificationMgmt" class="fa-solid fa-bell " style="color: #457bd9;font-size:100px; text-decoration: none" title="My Profile"> </a>
                        <br />
                        <span>Notification Management</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
        <!--Third Row-->
        <div class="row" style="margin-top:30px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-center">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Manager/ChangePass" class="fa-solid fa-key" style="color:#457bd9;font-size:100px; text-decoration: none" title="Change Password"> </a>
                        <br />
                        <span>Change Password</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Manager/SendEmail" class="fa-regular fa-envelope" style="color:#457bd9;font-size:100px; text-decoration: none" title="Send Email"> </a>
                        <br />
                        <span>Send Email</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

