
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/Common_General_Layout.cshtml";
}
<style>
    .freediv {
        width:5%;
        border-right:5px solid #0a0a0a;
        border-radius:20px;
    }
    .freediv1 {
        width:5%;
        border-left:5px solid #0a0a0a;
        border-radius:20px;
    }
    .aboutH {
        font-size: 25px;
        margin-bottom:1px; 
        font-family: Candara;
    }
    .aboutH1 {
        font-size: 25px; 
        margin-bottom:1px;
        margin-top:-8px; 
        font-family: Candara;
    }
    .aboutC {
        text-align: justify;
        padding-top:1px;
        font-size:20px
    }
    .aboutC1 {
        text-align: justify;
        margin-top: -10px;
        font-size: 20px
    }
</style>
<div class="container-fluid">
    <div class="row mb-4">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 text-center heading1 h2 pt-4 pb-2">
                Welcome to Tech Project Hub
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">

            @*--------This is a 1st child row--------------*@

            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-2 mt-3">
                        <h3 class="aboutus text-center">About Us</h3>
                    </div>
                    <div class="col-sm-5"></div>
                    <div class="col-sm-5"></div>
                </div>
                <p class="aboutC" style="text-align: justify">
                    At Tech Project Hub, we are more than just a platform for tech projects; we are a community of tech enthusiasts, innovators, and visionaries. Our journey began with a simple idea: to bridge the gap between talented tech professionals and the exciting projects that need their expertise.
                </p>
            </div>
            <div class="col-sm-1"></div>
            <div class="row mt-4">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4 mt-1">
                        <div class="card card1" style="width: 100%;">
                            <img src="~/Content/Images/about2.jpg" height="300px" width="100%" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 25px; font-family: Candara;"><b>Our Mission</b></h5>
                                <p class="card-text" style="text-align: justify;align-content:center; font-size:20px;letter-spacing:1px">
                                    Our vision is to Empower tech professionals to thrive in their careers.
                                    Facilitate seamless collaboration on groundbreaking projects.
                                    Drive innovation that transforms industries and improves lives.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 freediv"></div>
                    <div class="col-sm-6">
                        <h5 class="p-3 aboutH"><b>Empowering Professionals</b></h5>
                        <p class="aboutC p-3">We believe in the potential of every tech professional. By offering a platform to showcase their skills and connect with exciting projects, we empower them to take their careers to new heights.</p>
                        <hr />
                        <p class="p-3 aboutH1"><b>Building Stronger Tech Communities</b></p>
                        <p class="aboutC1 p-3"> We are dedicated to building a strong and supportive tech community where knowledge sharing and collaboration are the keys to success.</p>
                        <hr />
                        <p class="p-3 aboutH1"><b>Expert Project Management:</b></p>
                        <p class="aboutC1 p-3">
                            Our dedicated project managers ensure projects run smoothly, on time, and within budget.
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <hr />
            @*--------This is a 1st child row--------------*@

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <h5 class="aboutH1  mt-5 mb-5"><b>What We Offer</b></h5>
                    <ul class="aboutC1" style="list-style:disclosure-closed;text-align:justify">
                        <li>
                            <b>Project Showcase:</b> Explore the incredible projects our team members have undertaken. From groundbreaking innovations to process improvements, our project showcase highlights the amazing work of our employees.
                        </li>
                        <br />
                        <li>
                            <b>Collaboration Hub:</b> Connect with colleagues, exchange ideas, and find potential collaborators within our organization. We provide a space for cross-departmental collaboration and idea sharing.
                        </li>
                        <br />
                        <li>
                            <b>Professional Development:</b> Access resources, training materials, and expert insights to enhance your skills and knowledge. We're committed to supporting your growth and career development.
                        </li>
                    </ul>
                </div>
                <div class="col-sm-5">
                    <h5 class="aboutH1  mt-5 mb-5"><b>Why Choose Tech Project Hub?</b></h5>
                    <ul class="aboutC1" style="list-style:disclosure-closed;text-align:justify">
                        <li>
                            <b>Employee-Centric:</b> Our platform is designed with our employees in mind. We prioritize your growth, creativity, and success within the company.

                        </li>
                        <br />
                        <li>
                            <b>Innovation:</b> We encourage innovative thinking and the pursuit of new ideas. Tech Project Hub is where your creativity can thrive.

                        </li>
                        <br />
                        <li>
                            <b>Career Development:</b> Your professional growth is important to us. Tech Project Hub is a resource for expanding your skills and advancing your career.
                        </li>
                    </ul>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <hr />
            @*--------This is a 1st child row--------------*@

            <div class="row mt-5">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-6">
                        <h5 class="p-3 aboutH"><b>Empowering Professionals</b></h5>
                        <p class="aboutC p-3">We believe in the potential of every tech professional. By offering a platform to showcase their skills and connect with exciting projects, we empower them to take their careers to new heights.</p>
                        <hr />
                        <p class="p-3 aboutH1"><b>Building Stronger Tech Communities</b></p>
                        <p class="aboutC1 p-3"> We are dedicated to building a strong and supportive tech community where knowledge sharing and collaboration are the keys to success.</p>
                        <hr />
                        <p class="p-3 aboutH1"><b>Expert Project Management:</b></p>
                        <p class="aboutC1 p-3">
                            Our dedicated project managers ensure projects run smoothly, on time, and within budget.
                        </p>
                    </div>
                    <div class="col-sm-1 freediv1"></div>
                    <div class="col-sm-4 mt-1">
                        <div class="card card2" style="width: 100%;">
                            <img src="~/Content/Images/about.jpg" height="300px" width="100%" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 25px; font-family: Candara;"><b>Our Team</b></h5>
                                <p class="card-text" style="text-align: justify;align-content:center; font-size:20px;letter-spacing:1px">
                                    Meet the passionate individuals behind Tech Project Hub. Our team consists of experienced project managers, tech experts, and customer support professionals who are committed to ensuring your experience with us is exceptional.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
