
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/Common_General_Layout.cshtml";
}

<style>
    .social a {
        text-decoration: none;
        color: #bb6e0e;
    }

        .social a:hover {
            color: #072579;
        }
</style>
<body class="contactbg">
    <div class="row contact">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 heading2 text-center  mt-2 mb-5">Contact US</div>
        <div class="col-sm-4"></div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4 mt-6 mb-5">
                <h4 style="font-size:30px;color:#ffffff;font-family:'Bauhaus 93'">Reach Us</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230660.45187826187!2d81.63676978752257!3d25.40248206018425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398534c9b20bd49f%3A0xa2237856ad4041a!2sPrayagraj%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1694415295921!5m2!1sen!2sin" width="500" height="450" style="border:2;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-6">
                <div class="row ">
                    <h4 class="CU mt-0 mb-4" style="font-size: 30px; color: #ffffff; font-family: 'Bauhaus 93'">Connect Us</h4>
                    <div class="row">
                        <div class="col-sm-5 address p-3" id="add">
                            <img class="mt-1 mb-0" src="~/Content/Images/map-icon.png" height="50px" width="50px" />
                            <p class="h4">Office Address</p>
                            <p>
                                Tech Project Hub Pvt. Ltd<br />
                                Balsan Chauraha Near Bank <br />
                                Road, Prayagraj, Uttar Pradesh
                            </p>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5 address p-3" id="add">
                            <img class="mt-3 mb-0" src="~/Content/Images/phone.png" height="40px" width="30px" />
                            <p class="h4">Call Us</p>
                            <p>
                                +91 9918757068<br />
                                +91 8858207722
                            </p>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 address p-3 mt-3" id="add">
                            <i class="fa-solid fa-share-nodes" style="height: 40px; width: 30px; color: #C98E00 "></i>
                            <p class="h4">Our Social Handle</p>
                            <p class="social">
                                <a target="_blank" href="mailto:techprojecthub@gmail.com">Email</a><br />
                                <a target="_blank" href="https://www.linkedin.com/in/avaneesh-shukla-5604b5259">Linkedin</a><br />
                                <a target="_blank" href="https://twitter.com/Unknownhack3y">Twitter</a><br />
                            </p>
                        </div>
                        <div class="col-sm-1"></div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>