
@{
    ViewBag.Title = "MyIntro";
    Layout = "~/Views/Shared/Common_General_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row bg-info">
            <div class="col-sm-8">
                <p class=" p-3 h1 mt-4 mb-4 text-center" style="">Tech Project Hub Pvt. Ltd.</p>
            </div>
            <div class="col-sm-2 mt-3]">
                <img src="~/Content/Images/ksslogonew.png"class="mt-2 mb-2" style="width:100%"  />
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-4 mt-3"></div>
            <div class="col-sm-4 text-center mt-3 mb-4">
                <img src="~/Content/Images/photo.jpg" style="height:150px;width:150px;border:1px solid black;border-radius:50%"/>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 h4 text-bold">Name:</div>
                    <div class="col-sm-3 h5 text-bold text-primary">Avaneesh Shukla</div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 h4 text-bold">College Name:</div>
                    <div class="col-sm-3 h5 text-bold text-primary">Govt. Polytechnic Jaunpur</div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 h4 text-bold">Mobile No:</div>
                    <div class="col-sm-3 h5 text-bold text-primary">+91-8948454545</div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 h4 text-bold">Email Id:</div>
                    <div class="col-sm-3 h5 text-bold text-primary">009avaneesh@gmail.com</div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 h4 text-bold">Description:</div>
                    <div class="col-sm-5 h5 text-bold text-primary">Experienced Developer Proficient in C, C#, ASP.NET, .NET Framework, and Entity Framework. Skilled in front-end technologies including HTML, CSS, JavaScript, jQuery, and Bootstrap. Passionate about creating robust, user-friendly software solutions.</div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
