
@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/Common_Developer_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 pt-3 mt-5 mb-5 pb-5 bg-light upsection">
        <h3 class="text-success text-center mb-4" class="fade fa-key">Change Your Password</h3>
        <p class="text-success text-center">Please change your password carefully</p>
        
        <h2 class="text-danger h5 text-center">@ViewBag.Message</h2>
        <!-- <p class="text-center text-primary>p>-->
        <form action="/Developer/ChangePass" method="post">
            <div class="mb-3">
                <label for="Current PAssword" class="form-label">Current Password<spna class="text-danger">*</spna></label>
                <input type="password" class="form-control" required id="exampleFormControlInput1" placeholder="Enter current password" name="Pass">
            </div>
            <div class="mb-3">
                <label for="New Password" class="form-label">New Password<spna class="text-danger">*</spna></label>
                <input type="password" class="form-control" required id="exampleFormControlInput1" placeholder="Enter new password" name="NewPass">
            </div>
            <div class="mb-3">
                <label for="Title/Topic" class="form-label">Confirm New Password<spna class="text-danger">*</spna></label>
                <input type="password" class="form-control" required id="exampleFormControlInput1" placeholder="Confirm new password" name="ConfPass">
            </div>
            <input type="submit" class="btn btn-success mt-2 mb-2" value="Update" />
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>


