
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/Common_Developer_Layout.cshtml";
}
<style>
    .row1 {
        min-height: 500px
    }
    .mainbg{
        background:#ffffff71;
        box-shadow:0 0 15px black;
        border-radius:15px;
    }
</style>
<div class="row row1 mt-5 mb-5" >
     <div class="col-sm-1"></div>
    <div class="col-sm-10 mainbg" style="padding-top:25px;padding-bottom:25px;">
        <!--First Row-->
        <div class="row mt-5">
            <div class="col-sm-4">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Developer/Feedback" class="fa-regular fa-comment myicons " style="color: #457bd9;font-size:100px; text-decoration: none" title="Feedback"> </a>
                        <br/>
                        <span>Feedback</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Developer/TodayTask" class="fa-solid fa-bars-progress" style="color:#457bd9;font-size:100px; text-decoration: none" title="Task"> </a>
                        <br />
                        <span>Task</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Developer/MyProjects" class="fa-solid fa-sheet-plastic" style="color:#457bd9;font-size:100px; text-decoration: none" title="My Projects"> </a>
                        <br />
                        <span>Projects</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>
        <!--Second Row-->
        <div class="row" style="margin-top:30px;">
            <div class="col-sm-4">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Developer/UploadCode" class="fa-solid fa-file-code " style="color: #457bd9;font-size:100px; text-decoration: none" title="Upload Code"> </a>
                        <br />
                        <span>Upload Code</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Developer/WorkReport" class="fa-solid fa-laptop-file" style="color:#457bd9;font-size:100px; text-decoration: none" title="Work Report"> </a>
                        <br />
                        <span>Work Report</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row" style="margin-top:10px;">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 text-center menu1" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px; border-radius: 20px">
                        <a href="/Developer/SearchP" class="fa-solid fa-file-arrow-down" style="color:#457bd9;font-size:100px; text-decoration: none" title="Download"> </a>
                        <br />
                        <span>Download Peoject</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>

        </div>
        
    </div>
    <div class="col-sm-1"></div>
</div>
